// Міксин для встановлення border-radius для всіх кутів елемента.
// Приймає чотири параметри: $topLeft, $topRight, $bottomRight, $bottomLeft.

@mixin border-radius($topLeft, $topRight, $bottomRight, $bottomLeft) {
  -webkit-border-radius: $topLeft $topRight $bottomRight $bottomLeft;
  -moz-border-radius: $topLeft $topRight $bottomRight $bottomLeft;
  -ms-border-radius: $topLeft $topRight $bottomRight $bottomLeft;
  -o-border-radius: $topLeft $topRight $bottomRight $bottomLeft;
  border-radius: $topLeft $topRight $bottomRight $bottomLeft;
}

// Приклад використання міксину для встановлення однакового border-radius для всіх кутів елемента.
.example-class {
  @include border-radius(6px, 6px, 6px, 6px);
}
